#burgerstoeat {
    background-color: yellow;
    /* float: left; */
    
}

#burgerseaten {
    background-color: lightgreen;
    /* float: right; */
}
    

.burgercard {
    text-align: center;
    padding: 10px;
}
