#burgerstoeat {
    background-color: yellow;
    float: left;
    text-align: center;
    padding: 10px;
}

#burgerseaten {
    background-color: lightgreen;
    float: right;
    text-align: center;
    padding: 10px;
}